.body{
  margin: 0%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.content {
  height: 680px;
  width: 1500px;
}
