<div class="container">
  <div class="content">
    <div class="title">
      <h2>Painel de Controle</h2>
    </div>

    <div class="table">
      <div class="card">
        <p-table
          [value]="clientes"
          styleClass="p-datatable-striped"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Senha</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-clientes>
            <tr>
              <td>{{ clientes.codcli }}</td>
              <td>{{ clientes.nome }}</td>
              <td>{{ clientes.email }}</td>
              <td>{{ clientes.senha }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
