<div class="container">
  <div class="content">
    <div class="title">
      <h2>Painel de Controle</h2>
    </div>

    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>

    <div class="table">
      <div class="card">
        <p-table
          [value]="clientes"
          [(selection)]="clientesSelecionados"
          dataKey="codigo"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Código</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Senha</th>
              <th>Ações</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cliente>
            <tr>
              <td>
                <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
              </td>
              <td>{{ cliente.codigo }}</td>
              <td>{{ cliente.nome }}</td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.senha }}</td>
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editarCliente(cliente)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deletarCliente(cliente)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="clienteDialog"
  [style]="{ width: '450px' }"
  header="Editar Cliente"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Nome</label>
      <input
        type="text"
        pInputText
        id="nome"
        [(ngModel)]="cliente.nome"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !cliente.nome"
        >O nome é obrigatório.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="editarCliente(cliente)"
    ></button>
  </ng-template>
</p-dialog>
