<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="./login.component.scss" />
    <script src="login.component.ts"></script>
  </head>

  <body>
    <div class="container">
      <div class="content">
        <form class="campos-login">
          <div class="campos-login" [formGroup]="loginForm">
            <span class="title">Login Control Panel</span>
            <input
              id="userInput"
              type="text"
              class="inputUsuarioLogin"
              pInputText
              placeholder="Usuário"
              formControlName="userInput"
              maxlength="50"
            />

            <p-password
              id="passwordInput"
              class="inputSenhaLogin"
              placeholder="Senha"
              [feedback]="false"
              [toggleMask]="true"
              [maxLength]="maxPasswdLength"
              formControlName="passwordInput"
            ></p-password>

            <form class="rememberPassword" [formGroup]="lembrarSenha">
              <p-checkbox value="lembrarSenha" id="ls"></p-checkbox>
              <label for="ls">Lembrar senha</label>
            </form>

            <p *ngIf="campoUsuarioVazio" class="error-message">
              O campo usuário está vazio.
            </p>
            <p *ngIf="campoSenhaVazio" class="error-message">
              O campo senha está vazio.
            </p>

            <div class="button">
              <p-button label="Entrar" (click)="efetuarLogin()"></p-button>
            </div>
            <p class="criarConta" (click)="redirecionarCadastro()">
              Criar conta
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
