<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="./login.component.scss" />
    <script src="login.component.ts"></script>
  </head>
  
  <body>
    <p-card class="campo-login">
      <div class="containerTitle">
        <span class="title"> Login </span>
      </div>

      <div class="campoUsuario">
        <span class="pi pi-user"></span>
        <input
          class="inputUsuario"
          type="text"
          pInputText
          [(ngModel)]="usuario"
          placeholder="Usuário"
        />
      </div>

      <div class="campoSenha">
        <span class="pi pi-lock"></span>
        <p-password
          class="inputSenha"
          [(ngModel)]="senha"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="Senha"
        ></p-password>
      </div>

      <form class="rememberPassword" [formGroup]="lembrarSenha">
        <p-checkbox value="lembrarSenha" id="ls"></p-checkbox>
        <label for="ls">Lembrar senha</label>
        <p class="criarConta" (click)="redirecionarCadastro()">Criar conta</p>
      </form>

      <p *ngIf="campoUsuarioVazio" class="error-message">
        O campo usuário está vazio.
      </p>
      <p *ngIf="campoSenhaVazio" class="error-message">
        O campo senha está vazio.
      </p>

      <div class="botao">
        <p-button label="Entrar" (click)="validar()"></p-button>
      </div>
    </p-card>

  </body>
</html>