.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  background-color: #282936;
  border-radius: 10px;
  height: 400px;
  width: 385px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 6px;
}

.campos-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  width: 280px;

  .inputUsuarioLogin {
    width: 100%;
    margin-bottom: 5px;
  }

  .inputSenhaLogin {
    width: 100%;
  }
}

.rememberPassword {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 12.5px;
  margin: 8px;
  padding: 5px;
}

.rememberPassword p-checkbox {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}

.error-message {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: red;
}

.rememberPassword label {
  font-size: 14px;
  margin-right: 20px;
  margin-left: 10px;
}

.criarConta {
  display: flex;
  justify-content: center;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 11px;
}

.criarConta:hover {
  text-decoration: underline;
}

// Versões Mobile

@media screen and (max-width: 1108px) {
  .content {
    height: 400px;
    width: 380px;
  }
}

@media screen and (max-width: 760px) {
  .content {
    height: 400px;
    width: 380px;
  }
}

@media screen and (max-width: 450px) {
  .content {
    height: 400px;
    width: 300px;
  }

  .campos-login {
    height: 160px;
    width: 200px;
  }
}
