body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containerTitle {
  display: flex;
  justify-content: center;
  padding: 10px;

  .title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}

.campo-login {
  width: 350px;

  // Título 'Login'
  .p-float-label {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .campoUsuario {
    display: flex;
    margin-bottom: 2%;
    position: relative;
    justify-content: center;
    align-items: center;

    .inputUsuario {
      width: 100%;
      padding: 12.5px; // Tamanho do campo
      margin: 0 30px; // Laterais do campo
    }
  }

  .campoUsuario .pi-user {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
  }

  .campoSenha {
    display: flex;

    .inputSenha {
      padding-left: 9px;

      ::ng-deep .p-inputtext {
        padding-right: 64.5px;
      }
    }
  }

  .campoSenha .pi-lock {
    margin-top: 11px;
    margin-left: 5px;
  }

  .botao {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .error-message {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: red;
  }

  .rememberPassword {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rememberPassword p-checkbox {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }

  .rememberPassword label {
    font-size: 14px;
    margin-right: 20px;
    margin-left: 10px;
  }

  .criarConta {
    font-size: 14px;
    margin-left: 15px;
  }

  .criarConta:hover {
    text-decoration: underline;
  }
}
