body {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.campo-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 200px;
}
