@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.content {
  display: flex;
  background-color: #282936;
  border-radius: 10px;
  height: 400px;
  width: 390px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 6px;
}

.campos-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 280px;

  .inputUsuarioCadastro {
    width: 100%;
  }

  .inputEmailCadastro {
    width: 100%;
    margin-top: 5px;
  }

  .inputSenhaCadastro {
    width: 100%;
    margin: 5px;

    // Ajustando o tamanho do campo de input da senha de cadastro, para ocupar 100% da div 'campos-cadastro'.
    ::ng-deep .p-password {
      width: 100%;

      .p-inputtext {
        width: 100%;
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
}

.error-message {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: red;
}

.possuoConta {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 12.5px;
  margin: 8px;
}

.possuoConta:hover {
  text-decoration: underline;
}

// Versões Mobile

@media screen and (max-width: 1108px) {
  .content {
    height: 400px;
    width: 380px;
  }
}

@media screen and (max-width: 760px) {
  .content {
    height: 400px;
    width: 380px;
  }
}

@media screen and (max-width: 450px) {
  .content {
    height: 400px;
    width: 300px;
  }

  .campos-cadastro {
    height: 160px;
    width: 200px;
  }
}
