@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 6px;
}

.content {
  display: flex;
  background-color: #282936;
  border-radius: 10px;
  height: 48%;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.campos-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 43%;
  width: 64%;

  .inputUsuarioCadastro {
    width: 100%;
  }

  .inputEmailCadastro {
    width: 100%;
    margin-top: 5px;
  }

  .inputSenhaCadastro {
    width: 100%;
    margin: 5px 0px;

    // Ajustando o tamanho do campo de input da senha de cadastro.
    ::ng-deep .p-password {
      width: 100%;

      .p-inputtext {
        width: 100%;
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
}
