<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>

    <link rel="stylesheet" href="./cadastro.component.scss" />
    <script src="cadastro.component.ts"></script>
  </head>

  <body>
    <div class="container">
      <div class="content">
        <span class="title">Cadastro</span>
        <form class="campos-cadastro" [formGroup]="cadastroForm">
          <input
            id="userInput"
            type="text"
            class="inputUsuarioCadastro"
            pInputText
            placeholder="Usuário"
          />

          <input
            id="emailInput"
            type="text"
            class="inputEmailCadastro"
            pInputText
            placeholder="Email"
          />

          <p-password
            id="passwordInput"
            class="inputSenhaCadastro"
            placeholder="Senha"
            [feedback]="false"
            [toggleMask]="true"
          ></p-password>

        </form>

        <div class="button">
          <p-button
            label="Small"
            styleClass="p-button-sm"
            label="Criar conta"
            [loading]="loading"
            (click)="load()"
          ></p-button>
        </div>
      </div>
      </div>
  </body>
</html>
